<section id="CogportUI">
  <section>
      <div class="jumbotron">
        <h3 class="text-center">{{title}}!</h3>
        <p class="text-center">Welcome to Games Arena!</p>

          <div class="text-center">
               <div class="inputContainer">
                 <input class="form-control" type="text" name="search"  auto-complete [(ngModel)]="cogportGame" [source]="allGamesTitle" min-chars="2" > 
               </div><!--inputContainer-->
               <div class="selectContainer">
                 <select  name="sort" (change)="sort($event.target.value)">
                                                <option value="">Sort By</option>
                                                <option value="title">Title</option>
                                                <option value="score">Score</option>
                                                <option value="genre">Genre</option>
                                                <option value="platform">Platform</option>
                                                <option value="editors_choice">Editor's Choice</option>
                                                    
                  </select>
               </div><!--selectContainer-->
          </div> 

      </div><!--jumbotron-->
  </section><!--section for jumbotron section ends here-->



    <section id='gameContent'>
               <section > <!--All starts-->               
                    <div class="container">
                      <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 individualGameContainer"  *ngFor="let game of allGames | orderBy: key : reverse | filter : cogportGame | paginate: { itemsPerPage: 10, currentPage: p } ">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <div class="panel-title">{{game?.title}}</div>
                                  </div>
                                  <div class="panel-body">
                                    <p><strong>Platform:</strong>{{game?.platform}}</p>
                                    <p><strong>Score:</strong><i class="fa fa-star fa-2x"></i>{{game?.score}}</p>
                                    <p><strong>Genre :</strong> {{game?.genre}} </p>
                                    <p><strong>Editor's Choice :</strong> <i class="fa fa-certificate fa-2x" *ngIf="game.editors_choice == 'Y' "></i>{{game?.editors_choice}}</p>
                                  </div>
                                </div><!--panel ends here-->
                            </div><!--individualGameContainer-->
                        </div><!--row-->
                      </div><!--container-->
                </section> <!--All ends-->

                <section class="text-center">
                  <pagination-controls (pageChange)="p = $event" ></pagination-controls>
                </section>
    </section><!--gameContent-->

</section><!--CogportUI ends here-->